---
import Layout from "../layouts/Layout.astro"
import Welcome from "../components/Welcome.astro"
---

<Layout title="About">
    <main>
        <h1>
            About
        </h1>
        <p>
            This is the about page.
        </p>
</Layout>